/* CUSTOM PROPS */
:root {
    --base-space: 15px;
}

/* DEBUG */
.debug {
    min-height: 200px;
    padding: 20px;
    background-color: aquamarine;
    border: 1px dotted blue;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Signika Negative', sans-serif;
}

/* UTILS */
.container {
    max-width: 1080px;
    margin: 0 auto;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.col-30 {   
    width: calc(100% / 3);
}

.link {
    text-decoration: none;
}

/* MAIN */
main .container {
    text-align: center;
    padding: var(--base-space);
}

main h1 {
    color: red;
    font-weight: 600;
    padding: calc(var(--base-space) * 2) 0 var(--base-space) 0;
}

main p {
    padding: var(--base-space) 0;
}

main .row {
 margin-top: var(--base-space);
 margin-left: calc(-1 * var(--base-space));
}

main .col {
    padding: var(--base-space);
}

/* CARDS */
main .card {
    background-color: black;
}

main .card .card__img {
    height: 100px;
}

main .card .card__text {
    color: white;
    padding: var(--base-space);
}