/* CUSTOM PROPS */
:root {
    --base-space: 15px;
}

/* DEBUG */
.debug {
    min-height: 200px;
    padding: 20px;
    background-color: aquamarine;
    border: 1px dotted blue;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Fredoka', sans-serif;
    /* font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Signika Negative', sans-serif; */
}

/* UTILS */
.container {
    max-width: 1080px;
    margin: 0 auto;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.col-30 {   
    width: calc(100% / 3);
}

.link {
    text-decoration: none;
    color: rgb(67, 67, 233);
}

/* MAIN */
main .container {
    text-align: center;
    padding: var(--base-space);
}

main h1 {
    color: red;
    font-weight: 600;
    padding: calc(var(--base-space) * 2) 0 var(--base-space) 0;
}

main p {
    padding: var(--base-space) 0;
}

main .row {
 margin-top: var(--base-space);
 margin-left: calc(-1 * var(--base-space));
}

main .col {
    padding: var(--base-space);
    padding-bottom: calc(var(--base-space) * 2);
}

/* CARDS */
.card {
    background-color: black;
    box-shadow: 0px 0px 10px 3px rgba(158,144,158,1);
}

.card .card__img {
    height: 100px;
}

.card .card__text {
    padding: var(--base-space) calc(var(--base-space) / 2);
    color: white;
    font-size: 0.9rem;
    text-align: left;
}

.card .card__name {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.card .card__role {
    margin: 5px 0;
}
